@import "node_modules/bootstrap/scss/bootstrap";

.not-found {
  display: block;
  visibility: visible;
  height: 300px;
  text-align: center;
  vertical-align: middle;
  font-size: 3rem;
}

.not-found.hidden {
  display: none;
}

main {
  position: relative;
}

.card {
  position: fixed;
  top: 65px;
  left: 15%;
  width: 70%;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  display: inline-block;
  margin-bottom: 2px;
}

.card.hidden {
  display: none;
}

.country-row {
  transition: all linear 0.3s ;
}

.country-row:hover {
  background-color: #2d3237;
}
